<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Teams</title>
  </head>
  <body>
    <nav>
      <a href="/teams">All Teams</a>
      <a href="/teams/new">Create Team</a>
    </nav>
    <h1>5 Aside Team</h1>
    <div class="team-view">
      <table>
        <thead>
          <tr>
            <th>Kit</th>
            <th>Goalkeeper</th>
            <th>Defender</th>
            <th>Midfielder</th>
            <th>Winger</th>
            <th>Striker</th>
          </tr>
        </thead>
        <tbody>
          <% teams.forEach((team) =>{ %>
          <tr>
            <td><%= team.Kit %></td>
            <td><%= team.GK %></td>
            <td><%= team.DF %></td>
            <td><%= team.MF %></td>
            <td><%= team.WG %></td>
            <td><%= team.ST %></td>
            <td><a href="/teams/<%= team._id %>">Team Details</a></td>
            <td>
              <form
                action="/teams/<%= team._id %>?_method=DELETE"
                method="post"
              >
                <button type="submit">X</button>
              </form>
            </td>
          </tr>

          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
